body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
}

.header ul {
    display: flex;
}

.header li + li {
    padding-left: 20px;
}

.logo {
    background-color: pink;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
}